body {
    overflow: hidden;
  }
  
  .cadastrar {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 100%
  }
  
  .cadastrar .container-fluid {
    background-color: #ffffff;
    width: 100%; 
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0%;
    margin: 0%;
  }
  
  .cadastrar .overlap-azul {
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0%;
    left: 0%;
    margin: 0%;
    background-color: #5572fe;
  }
  
  
    .cadastrar .overlap-bemvindo {
      width: 80%;
      height: 100vh;
      position: relative;
      top: 15%;
      left: 10%;
      display: flex;
    }
    
    .cadastrar .bem-vindo {
      position: relative;
      min-width: 400px;
      width: 100%;
      top: 0%;
      left: 0%;
      color: #ffffff;
      font-size: clamp(2vw, 2.4vw, 2.5em);
      letter-spacing: 0;
      display: flex;
    }
    
    .cadastrar .frase-bemvindo {
      width: 100%;
      top: 6%;
      left: 0%;
      font-family: "Kanit-Light", Helvetica;
      font-size: clamp(1.1vw, 1.5vw, 1.1em);
      line-height: 1.4em;
      position: absolute;
      color: #ffffff;
      letter-spacing: 0;
    }
    
    .cadastrar .frase-filosofo {
      max-width: 700px;
      width: 80%;
      top: 65%;
      left: 10%;
      font-style: italic;
      font-size:clamp(1.1vw, 1.5vw, 1.1em);
      position: absolute;
      color: #ffffff;
      letter-spacing: 0;
    }
    
    .cadastrar .img-estrelas {
      position: absolute;
      width: 80%;
      height: 100vh;
      max-width: 190px;
      max-height: 33px;
      top: 60%;
      left: 8%;
    }
    
    .cadastrar .autor-frase {
      position: absolute;
      width: 80%;
      height: 100vh;
      width: 305px;
      height: 56px;
      top: 78%;
      left: 10%;
    }
    
    .cadastrar .filosofo {
      position: absolute;
      max-width: 234px;
      width: 100%;
      top: 0%;
      left: 22%;
      color: #ffffff;
      font-size: clamp(1.1vw, 1.4vw, 1.3em);
      letter-spacing: 0;
    }
  
    .cadastrar .filosofo-span {
      position: absolute;
      max-width: 234px;
      width: 100%;
      top: 90%;
      left: 0%;
      font-family: "Kanit-Medium", Helvetica;
      font-weight: 400;
      color: #ffffff;
      font-size: clamp(0.8vw, 1vw, 0.8em);
      font-style: italic;
      letter-spacing: 0;
    }
  
    .cadastrar .ico-filosofo {
      position: absolute;
      max-width: clamp(3vw, 5vw, 57px);
      max-height: clamp(1.5vw, 5.0vw, 57px);
      height: 100vh;
    }
  
  
    .cadastrar .overlap-branco {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100vh;
      left: 0px;
    }
     
    .cadastrar .overlap-cadastrar {
      position: absolute;
      max-width: 834px;
      width: 80%;
      height: 100vh;
      top: 24%;
      left: 55%;
    }
  
    .cadastrar .texto-cadastrar {
      position: absolute;
      width: 80%;
      top: 0%;
      left: 0%;
      font-weight: 400;
      font-size: clamp(1.6vw, 2.5vw, 2em);
      letter-spacing: 0;
      line-height: normal;
    }
    
    .cadastrar .frase-cadastrar {
      position: relative;
      max-width: 650px;
      width: 80%;
      top: 5%;
      left: 0%;
      /* font-family: "Kanit-Regular", Helvetica; */
      font-weight: 400;
      color: rgb(108, 108, 113);
      font-size: clamp(1vw, 1.6vw, 1.2em);
      letter-spacing: 0;
      line-height: 1em;
    }
  
   .cadastrar .texto-conta {
      font-family: "Kanit-Medium", Helvetica;
      font-weight: 500;
    }
    
    .cadastrar .email {
      position: absolute;
      max-width: 191px;
      width: 75%;
      top: 37%;
      left: 55%;
      font-family: "Kanit-Light", Helvetica;
      font-weight: 300;
      color: #000000;
      font-size: clamp(1.3vw, 1.5vw, 1.5em);
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
  
    .cadastrar .senha {
      position: absolute;
      max-width: 191px;
      width: 80%;
      top: 47%;
      left: 55%;
      font-family: "Kanit-Light", Helvetica;
      font-weight: 300;
      color: #000000;
      font-size: clamp(1.3vw, 1.5vw, 1.5em);
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }

    .cadastrar .repetir-senha {
        position: absolute;
        max-width: 191px;
        width: 80%;
        top: 57%;
        left: 55%;
        font-family: "Kanit-Light", Helvetica;
        font-weight: 300;
        color: #000000;
        font-size: clamp(1.3vw, 1.5vw, 1.5em);
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
  
    .cadastrar .overlap-login {
      position: absolute;
      max-width: 600px;
      width: 80%;
      max-height: 67px;
      height: 100vh;
      top: 72%;
      left: 55%;
    }
      
    .cadastrar #senha,
    .cadastrar #repetir-senha,
    .cadastrar #cadastrarButton,
    .cadastrar #email {
    width: 40vw; 
    max-width: 633px; 
    height: 5.5vh;
    max-height: 67px; 
    font-size: clamp(1vw, 1.3vw, 1.3em); 
    }
  
    .cadastrar .btn {
      font-size: clamp(1vw, 1.3vw, 1.3em);
      font-family: "Kanit-Light", Helvetica;
    }
    
    .cadastrar .overlap-logo {
      position: absolute;
      max-width: 295px;
      width: 100%;
      max-height: 66px;
      height: 100vh;
      top: 15%;
      left: 55%;
    }
  
    
    .cadastrar .overlap-lifetrack {
      position: absolute;
      max-width: 216px;
      width: 80%;
      max-height: 66px;
      height: 100vh;
      top: 2%;
      left: 20%;
    }
    
    .cadastrar .texto-lifetrack {
      position: absolute;
      top: 15%;
      left: 0%;
      font-family: "Kanit-Medium", Helvetica;
      font-weight: 100;
      font-size: 40px;
      color: #000000;
      /* font-size: clamp(2.8vw, 3vw, 3em); */
      letter-spacing: 0;
      line-height: normal;
    }
    
    .cadastrar .ico-perfil {
      position: absolute;
      max-width: 50px;
      max-height: 50px;
      width: 80%;
      height: 100vh;
      top: 5%;
      left: 84%;
    }

    .ico-perfil:hover {
      filter: brightness(180%); /* Isso aumentará o brilho ao passar o mouse */
      cursor: pointer; /* Adiciona o cursor de ponteiro ao passar o mouse */
    }
  
  
  
  
  
    