* {
  max-height: 100%;
  max-width: 100%;
}

header {
  height: 60px;
}

main {
  height: 100vh; /* Altura do main ajustada */
}

#entrada-dados {
  background-color: #ececec;
}

.slider-container {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens dentro do container */
  justify-content: flex-start; /* Alinha os itens ao início do contêiner flex */
  gap: 10px; /* Espaçamento entre os elementos internos */
}

.slider-container label {
  white-space: nowrap; /* Garante que o texto do label não quebre em linhas */
  margin-right: 0.5em; /* Espaço entre o label e o slider */
}

.slider-container input[type="range"] {
  flex-grow: 1; /* Permite que o slider cresça para ocupar o espaço disponível */
}

.slider-container span {
  min-width: 2.5em; /* Define uma largura mínima para o span. Ajuste conforme necessário */
  text-align: center; /* Centraliza o texto dentro do span */
}

#meuRadarChart {
  box-sizing: border-box; /* Isso garante que o padding e a borda sejam incluídos na largura/altura total */
  max-height: calc(
    100% - 20px
  ); /* Subtrai o total de padding/margin vertical do 100% da altura */
  max-width: calc(
    100% - 20px
  ); /* Subtrai o total de padding/margin horizontal do 100% da largura */
  margin: 20px; /* Isso adiciona uma margem em volta do canvas */
  padding: 20px; /* Isso adiciona um preenchimento dentro do canvas */
}

/* Estilo geral do controle deslizante */
input[type="range"] {
  -webkit-appearance: none; /* Remover a aparência padrão */
  appearance: none; /* Define a aparência padrão */
  width: 100%; /* Largura do controle deslizante */
  height: 2px; /* Altura da trilha */
  background: #ddd; /* Cor da trilha */
  outline: none; /* Remove a borda ao focar */
  opacity: 0.7; /* Transparência */
  -webkit-transition: 0.2s; /* Animação ao interagir */
  transition: opacity 0.2s;
}

/* Estilo do botão (thumb) do controle deslizante */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remover a aparência padrão */
  appearance: none;
  width: 15px; /* Largura do botão */
  height: 15px; /* Altura do botão */
  background: black; /* Cor do botão */
  cursor: pointer; /* Cursor tipo ponteiro */
  border-radius: 50%; /* Torna o botão redondo */
}

input[type="range"]::-moz-range-thumb {
  width: 15px; /* Largura do botão */
  height: 15px; /* Altura do botão */
  background: black; /* Cor do botão */
  cursor: pointer; /* Cursor tipo ponteiro */
  border-radius: 50%; /* Torna o botão redondo */
}

input[type="range"]::-ms-thumb {
  width: 15px; /* Largura do botão */
  height: 15px; /* Altura do botão */
  background: black; /* Cor do botão */
  cursor: pointer; /* Cursor tipo ponteiro */
  border-radius: 50%; /* Torna o botão redondo */
}
